*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/
/hs_err_pid2884.log
/hs_err_pid4396.log
/hs_err_pid10096.log
/hs_err_pid22492.log
/replay_pid4396.log
/replay_pid10096.log
